In [1]:
# 1 Write a for loop to print all even numbers from 2 to 20.

In [2]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
# 2 Create a list of names and use a for loop to print each name in uppercase.

In [4]:
names = ["muqarrab", "aziz", "mudassar"]
for name in names:
    print(name.title())

Muqarrab
Aziz
Mudassar

In [5]:
# 3 Use a for loop with range() to print numbers from 10 to 1 in reverse order.

In [6]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [7]:
# 4 Iterate through a list of integers and print only the numbers that are divisible by 3.

In [9]:
numbers = [10, 15, 21 ,26, 29, 30, 7, 60, 69]
for num in numbers:
    if num % 3 == 0:
        print(num)

15
21
30
60
69

In [10]:
# 5 Write a loop that prints the squares of numbers from 1 to 10.

In [11]:
for i in range(1, 11):
    square = i ** 2
    print(square)

1
4
9
16
25
36
49
64
81
100

In [12]:
# 6 Given a list of temperatures in Celsius, use a for loop to convert each to Fahrenheit.

In [16]:
cels_temp = [36, 45, 34, 40]
for c in cels_temp:
    farenheit = (c * 9/5 ) + 32 
    print(farenheit)

96.8
113.0
93.2
104.0

In [17]:
# 7 Create a for loop that prints the multiplication table of 5.

In [18]:
for i in range(1, 11):
    print(f"5 x {i} = {5 * i}")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [19]:
# 8 Write a program to find the sum of all numbers in a list using a for loop.

In [23]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
total = 0
for num in numbers:
    total = total + num
print(total)

450

In [24]:
# 9 Use a for loop to iterate through a string and print each character separately.

In [28]:
word = "muqarrab"
for char in word:
    print(char)

m
u
q
a
r
r
a
b

In [29]:
# 10 Create a list of words and use a for loop to print only the words with more than 5 letters.

In [33]:
words = ["bamama", "monkey", "apple", "maple", "bored"]
for word in words: 
    if len(word) > 5:
        print(word)

bamama
monkey